<!-- icones load karnake ke liye -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">

<footer>
  <div class="footer-container">
    <!-- Quick Links -->
    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="products.html" class="nav-link">Products</a></li>
        <li><a href="about.html" class="nav-link">About</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="cart.html" class="nav-link">Cart 🛒</a></li>
      </ul>
    </div>

    <!-- Cars Categories -->
    <div class="footer-column">
      <h4>Car Categories</h4>
      <ul>
        <li><a href="category.html?category=electric">Electric</a></li>
        <li><a href="category.html?category=Sedans">Sedans</a></li>
        <li><a href="category.html?category=coach">Coaches</a></li>
      </ul>
    </div>

    <!-- App Download -->
    <div class="footer-column app-section">
      <h4>Download Our App</h4>
      <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Google Play"></a>
      <a href="#"><img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store"></a>
    </div>

    <!-- Social Media -->
    <div class="footer-column">
      <h4>Contact Us</h4>
      <div class="social-icons">
        <p>Whatsapp No:- 7828271011</p> <br>
        <p>Mail :- lr751023@gmail.com</p> <br>
        <a href="https://www.instagram.com/thakur_lokendra._.singh?igsh=MTU0bHVyd2NqbGFvNg=="><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>

  <div class="bottom-bar">
    © 2025 MyCarSales. All Rights Reserved.
  </div>
</footer>
