<nav class="navbar">
  <div class="brand">Volvo Motors</div>

  

  <!-- Hamburger -->
  <button class="hamburger" onclick="toggleMenu()">☰</button>

  <ul id="menu">
     
    <div class="bt">
      <h2>Menu</h2>
      <button id="closeBtn1">✖ </button>
</div>
    
    <li><a href="index.html" class="nav-link">Home</a></li>
    <li><a href="products.html" class="nav-link">Products</a></li>
    <li><a href="about.html" class="nav-link">About</a></li>
    <li><a href="contact.html" class="nav-link">Contact</a></li>
    <li><a href="cart.html" class="nav-link">Cart 🛒</a></li>
    <!-- <button class="theme-toggle" onclick="toggleTheme()"></button> -->
  </ul>
</nav>

<!-- Search results -->
<div id="search-results"></div>
